/* Fix user-agent */

* {
    box-sizing: border-box;
}

html {
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

html, input {
    font-family: "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;

    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    word-wrap: break-word;
}

body {
    background-color: #95d8c3;
}

/* Pages */

.pages {
    /* overflow: overlay; */
    /* height: 100%; */
    /* margin-left: 80%; */
    padding: 0;
    width: 100%;
    display: block;
    margin: 0;
}

.page {
    height: 100%;
    position: absolute;
    width: 100%;
}

/* Login Page */

.login.page {
    background-color: #000;
}

.login.page .form {
    height: 100px;
    /*margin-top: -100px;*/
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    z-index: 1;


    margin: 0;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.login.page .form .usernameInput {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    padding-bottom: 15px;
    text-align: center;
    width: 400px;
}

.login.page .title {
    font-size: 200%;
}

.login.page .usernameInput {
    font-size: 200%;
    letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput {
    color: #fff;
    font-weight: 100;
}

/**/
.connectfour {
}
/*lol*/
.table {
    display: inline-block;
    float: right;
    -webkit-transform:scale(0.9);
    -moz-transform:scale(0.9);
    -ms-transform:scale(0.9);
    transform:scale(0.85);
    margin-top: 5%;
    margin-right: 0;
    margin-left: 35%;
    position: fixed;
    width: 1000px;
    background-color: #33b496;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    border-style: solid;
    border-color: #33b496;
    border-radius: 10px;
    z-index: -1;
}

.column {
    display: inline-block;
    border-right: solid;
    border-width: 5px;
    border-radius: 2px;
    border-color: #33b496;
    padding-right: 0.6%;
}

.cell {
    background-color: #f7f2d8;
    border-color: #33b496;
    border-width: 3px;
    border-radius: 100px;
    border-style: solid;
    width: 100px;
    height: 100px;
    margin-top: 4%;
}

/* Chat page */
.chat {
    width: 24%;
}

.chat.page {
    display: none;
}

.chatBox {
    /* margin: 50px; */
    float: top;
}

/* Font */

.messages {
    width: 100%;
    font-size: 150%;
}

.inputMessage {
    font-size: 100%;
}

.log {
    color: gray;
    font-size: 70%;
    margin: 5px;
    text-align: center;
}

/* Messages */

.chatArea {
    height: 100%;
    padding-bottom: 7%;
    width: 100%;
    background-color: #95d8c3;
    border-right-style: solid;
    border-color: #33b496;
    border-width: 8px;
    -ms-overflow-style: none;
}

.messages {
    height: 100%;
    margin: 0;
    overflow-y: scroll;
    padding: 10px 20px 0 20px;
}

.message.typing .messageBody {
    color: gray;
}

.username {
    font-weight: 700;
    overflow: hidden;
    padding-right: 15px;
    text-align: right;
}

/* Input */

.inputMessage {
    border: 5px solid #33b496;
    border-radius: 0 0 10px 0px;
    /* bottom: 0; */
    height: 60px;
    /* left: 0; */
    outline: none;
    padding-left: 10px;
    /* position: absolute; */
    /* right: 0; */
    width: 100%;
    background-color: #33b496;
    color: #f7f2d8;
}

/* Ad */
.ad {
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
}

/* Result */
.result {
    display: none;
    background: black;
    position: fixed;
    z-index: 100;
}

.result .form {
    height: 100px;
    margin-top: -4%;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    z-index: 1;
    color: white;
}

h3#result.title {
    font-weight: 100;
    font-size: 200%;
}

.header {
    padding-left: 31.2%;
}

::placeholder{
    color: #f7f2d8;
}

::-webkit-scrollbar {
    background: #95d8c3;
}

#gametitle {
    font-size: 70px;
    font-family: 'Nunito', sans-serif;
    margin-top: -8%;
}

.footer {
    position: fixed;
    right: 0;
    left: 37.5%;
    bottom: 0;
    width: max-content;
    color: white;
    text-align: center;
    z-index: -1;
    padding: 10px;
    background-color: #33b496;
    margin-bottom: 10px;
    border-style: solid;
    border-color: #33b496;
    border-radius: 10px;
}

.footer-content {
    display: flex;
}

.bulletpoint-decoration {
    list-style:none;
    padding-left: 5px;
    color: #f7f2d8;
    font-size: 13px;
}

.footer a {
    text-decoration: none;
    color: #f7f2d8;
}
